{{> header}}

    {{> navbar}}

    <div class="row">
        <div class="col-8">
            <h1>IRON MAN</h1>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi minima temporibus ratione deleniti esse mollitia perferendis amet velit eius, vero optio qui debitis minus repellat repudiandae facilis, maiores perspiciatis tempora?
            </p>

        </div>

        <div class="col-4">
            <img src="assets/img/iron-man_1.png" alt="iron-man" class="img-thumbnail" style="height: 256px;width: 256px">
        </div>
    </div>

    

{{> footer}}